<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/contactenos.css">
    <title>Contáctenos - Techouse Colombia</title>
</head>
<body>
    <header>
        <nav>
            <nav>
                <ol>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./Productos.html">Productos</a></li>
                    <li><a href="./Asesorias.html">Asesorias</a></li>
                    <li><a href="./Contactenos.html">Contáctenos</a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
                    <li><a href="./Login.html">Iniciar sesion</a></li>
                </ol>
            </nav>

    </header>
    <main>
        <div class="container-form">
            <div class="info-form">
            <h2>Contáctanos</h2>
            <p>Te invitamos a que te comuniques con nuestros asesores</p>
            <form id="Contactos">
            <label for="name">Primer Nombre</label>
            <input type="text"
            id="name"
            value=""
            placeholder="Primer nombre"
            minlength="3"
            maxlength="20"
            required pattern="[a-z A-Z]{3-20}"
            title="Se admiten solo letras" 
            autocomplete="off">
    
            <label for="name">Segundo Nombre</label>
            <input type="text"
            id="name"
            value=""
            placeholder="Segundo Nombre"
            minlength="3"
            maxlength="20"
            required pattern="[a-z A-Z]{3-20}"
            title="Se admiten solo letras" 
            autocomplete="off">
    
            <label for="mail">Telefono</label>
            <input type="text" name="Telefono" placeholder="Telefono">
    
    
            <label for="mail">Correo electronico</label>
            <input type="email" id="email" placeholder="Email"><br><br>
            <textarea name="mensaje" placeholder="Dejanos un mensaje..."></textarea>
            <button type="submit" id="enviar">Enviar datos</button>
    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/9c91a8f8fa.js" crossorigin="anonymous"></script>
    <script src="../Scripts/contactenos.js"></script>
</body>
</html>