<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/asesorias.css">
    <title>Tutorial- Techouse Colombia</title>
</head>
<body>
    <header>
        <nav>
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Asesorias.html">Asesorias</a></li>
                <li><a href="./Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
                <li><a href="./Login.html">Iniciar sesion</a></li>
            </ol>
        </nav>
    </header>
    
    <main>
        
        <h1>Recomendaciones para armar una PC Gamer</h1>
        <b><h2>Componentes importantes</h2></b>
        <p>Lo primero que deberás tener en cuenta para armar una PC gamer es conocer cuáles son los componentes más importantes para el gaming. Esas piezas fundamentales que necesitarás sí o sí y que serán las bases para el buen funcionamiento de la máquina. Todas presentan distintos rangos de precio según la necesidad o el presupuesto del usuario. Veamos en detalle para qué sirven cada una de ellas. </p>
    
        <h3>Placa madre</h3>
        <p>Corresponde al componente principal que permite la comunicación entrelazada con los demás componentes, es donde se conectan todas las piezas para poder funcionar.</p>
    
        <h3>Procesador (CPU)</h3>
        <p>En pocas palabras, es el “cerebro” de todo el sistema ya que se encarga de procesar las instrucciones que nosotros le solicitamos. Mientras más rápido sea el procesador, más rápido ejecutaremos las acciones. Actualmente hay dos marcas de procesadores que lideran el mercado: Intel y Amd en las gamas de i3, i5, i7; Ryzen 3, Ryzen 5 y Ryzen 7 respectivamente.</p>

        <h3>Tarjeta grafica (GPU)</h3>
        <p>Este es un tipo de procesador dedicado exclusivamente para los procesos 3d y gráficos del sistema, es muy utilizada por la comunidad gamer y diseñadores ya que todos los videojuegos y programas de edición requieren de un procesador gráfico para poder ejecutarse. 
        Hay procesadores CPU que tienen gráficos integrados por lo cual en muchas ocasiones no hace falta una tarjeta gráfica para trabajar y hacer tareas de ofimática. Pero en el caso de videojuegos y edición, la tarjeta gráfica se hace imprescindible ya que permite además de procesar todas las tareas gráficas, destinar el procesador principal solo a tareas más fundamentales y mejora su rendimiento. Deberás saber que a mayor potencia de la tarjeta, mejor rendimiento y mejor resultado visual.</p>

        <h3>Memoria RAM</h3>
        <p>Se trata de un tipo de memoria de acceso aleatorio (Random access memory en inglés) en la que se alojan todos los programas que vamos utilizando en la PC, por lo cual es una memoria que se va usando y liberando de manera constante. A mayor cantidad de memoria RAM, tendremos mayor velocidad y mejor rendimiento cuando juguemos. Si lo graficamos, se trata de un “escritorio de trabajo”, mientras más grande (GB de memoria) más tareas podemos realizar en simultáneo. </p>

        <h3>Disco duro</h3>
        <p>Es la pieza más conocida por todos, aquí se almacena el sistema operativo y todos los archivos que manejamos en la PC: desde fotos a música, y por supuesto los videojuegos. Este elemento es fundamental ya que a mayor capacidad, mayor posibilidad de guardar cosas. 
        Actualmente hay distintos tipos de discos de almacenamiento, como HDD, SSD y SSD M.2, en este orden van desde el más lento al más rápido. Los clásicos son los discos HDD, discos de almacenamiento mecánico los cuales se recomiendan para almacenar archivos a largo plazo, luego hay una versión reducida y digitalizada de estos llamada SSD la cual llega a ser hasta cinco veces más rápida.</p>

        <h3>Fuente de poder</h3>
        <p>Se encarga de distribuir la energía necesaria a los distintos componentes y se adapta al rendimiento que requiere la pc en un momento determinado. Prácticamente todas se desempeñan de manera similar pero se clasifican por su eficiencia energética con un sello 80+ (White, Bronze, Silver, Gold, Platinum y Titanium). Mientras mayor sea la calificación, mayor será el precio, pero esto significa que la PSU podrá utilizar la mayor parte de la potencia que crea necesaria y se calentará menos.</p>

        <h3>Cooler CPU</h3>
        <p>Se encarga de enfriar el procesador (saca el calor) debido a las altas temperaturas a las que llega cuando se utiliza completamente e incluso cuando está en reposo. De esta manera evita que la máquina se caliente más de la cuenta.
        Existen dos tipos de refrigeración de CPU: el de aire que es un ventilador y un radiador que disipan el calor proveniente del procesador, y el de refrigeración por agua, donde el principio es el mismo pero por dentro tiene un líquido que se encarga de distribuir el calor proveniente del procesador al exterior (en este caso el radiador con los ventiladores).</p>

        <h3>Gabinete</h3>
        <p>Si bien desde el punto de vista del funcionamiento esta no es una pieza realmente importante, el gabinete o caja es necesaria para tener todos los componentes protegidos y ordenados. En pocas palabras, es el caparazón del equipo, y los podemos encontrar en distintos tamaños, formas, materiales y colores —hay unos discretos y otros con luces y neones para que no pase desapercibida tu máquina —por lo cual es un componente básico de personalización de los equipos.</p>

        <b><h2>Consideraciones antes de armar tu PC</h2></b>
        
        <article><h3>Prioriza tus necesidades y elige en base a ellas</h3>Antes de armar un PC es importante tener una idea del uso que le darás ya que, según nuestra experiencia, muchas veces la gente compra un PC sin tener el conocimiento de para qué les puede servir, y ahí es cuando priorizan el presupuesto por sobre sus necesidades, y se encuentran en el camino con muchas decepciones puesto que no es lo que esperaban y terminan insatisfechos con la compra. Es importante que entiendas tus propias necesidades en relación a los componentes que puedes permitirte comprar.</article>

        <article><h3>Tu propia PC es una inversión</h3>Te aconsejamos que veas tu PC como un mundo de posibilidades, en las cuales se pueden hacer muchas cosas aparte de jugar, siempre valdrá la pena invertir en un buen equipo que sabes que durará años y que en un futuro te ayudará incluso con estudios, trabajos, hobbies digitales (fotografía, diseño, ilustración) etc. </article>
    </main>
    <script src="../Scripts/asesorias.js"></script>
</body>
</html>