<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="jarallax.css">
    <link rel="stylesheet" href="../Styles/asesorias.css">
    <title>Asesorias- TecHouse</title>
</head>
<body>
    <header>
        <nav class="header">
            <a href="index.html" class="logo">
                <img src="./Assets/img/General/Logo.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Asesorias.html">Asesorias</a></li>
                <li><a href="./Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
            </ol>
            <a href="./Login.html" class="button">Iniciar sesion</a>
                <button class="ham" type="button">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </button>
        </nav>       
    </header>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Asesorias TecHouse</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img1.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <h1>Tarjeta madre</h1>
                    <p>Corresponde al componente principal que permite la comunicación entrelazada con los demás componentes, es donde se conectan todas las piezas para poder funcionar.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Procesador (CPU)</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img2.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>En pocas palabras, es el “cerebro” de todo el sistema ya que se encarga de procesar las instrucciones que nosotros le solicitamos. Mientras más rápido sea el procesador, más rápido ejecutaremos las acciones. Actualmente hay dos marcas de procesadores que lideran el mercado: Intel y Amd en las gamas de i3, i5, i7; Ryzen 3, Ryzen 5 y Ryzen 7 respectivamente.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Tarjeta grafica (GPU)</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img3.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Este es un tipo de procesador dedicado exclusivamente para los procesos 3d y gráficos del sistema, es muy utilizada por la comunidad gamer y diseñadores ya que todos los videojuegos y programas de edición requieren de un procesador gráfico para poder ejecutarse. 
                        Hay procesadores CPU que tienen gráficos integrados por lo cual en muchas ocasiones no hace falta una tarjeta gráfica para trabajar y hacer tareas de ofimática. Pero en el caso de videojuegos y edición, la tarjeta gráfica se hace imprescindible ya que permite además de procesar todas las tareas gráficas, destinar el procesador principal solo a tareas más fundamentales y mejora su rendimiento. Deberás saber que a mayor potencia de la tarjeta, mejor rendimiento y mejor resultado visual.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Memoria RAM</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img4.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Se trata de un tipo de memoria de acceso aleatorio (Random access memory en inglés) en la que se alojan todos los programas que vamos utilizando en la PC, por lo cual es una memoria que se va usando y liberando de manera constante. A mayor cantidad de memoria RAM, tendremos mayor velocidad y mejor rendimiento cuando juguemos. Si lo graficamos, se trata de un “escritorio de trabajo”, mientras más grande (GB de memoria) más tareas podemos realizar en simultáneo.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Disco duro</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img5.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Es la pieza más conocida por todos, aquí se almacena el sistema operativo y todos los archivos que manejamos en la PC: desde fotos a música, y por supuesto los videojuegos. Este elemento es fundamental ya que a mayor capacidad, mayor posibilidad de guardar cosas. 
                        Actualmente hay distintos tipos de discos de almacenamiento, como HDD, SSD y SSD M.2, en este orden van desde el más lento al más rápido. Los clásicos son los discos HDD, discos de almacenamiento mecánico los cuales se recomiendan para almacenar archivos a largo plazo, luego hay una versión reducida y digitalizada de estos llamada SSD la cual llega a ser hasta cinco veces más rápida.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Fuente de poder</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/cpu-g71cce7e63_1280.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Se encarga de distribuir la energía necesaria a los distintos componentes y se adapta al rendimiento que requiere la pc en un momento determinado. Prácticamente todas se desempeñan de manera similar pero se clasifican por su eficiencia energética con un sello 80+ (White, Bronze, Silver, Gold, Platinum y Titanium). Mientras mayor sea la calificación, mayor será el precio, pero esto significa que la PSU podrá utilizar la mayor parte de la potencia que crea necesaria y se calentará menos.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Cooler CPU</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img6.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Se encarga de enfriar el procesador (saca el calor) debido a las altas temperaturas a las que llega cuando se utiliza completamente e incluso cuando está en reposo. De esta manera evita que la máquina se caliente más de la cuenta.
                        Existen dos tipos de refrigeración de CPU: el de aire que es un ventilador y un radiador que disipan el calor proveniente del procesador, y el de refrigeración por agua, donde el principio es el mismo pero por dentro tiene un líquido que se encarga de distribuir el calor proveniente del procesador al exterior (en este caso el radiador con los ventiladores).</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <h2 data-jarallax-element="0 200">Gabinete</h2>
            <div class="container">
                <div class="imgBx jarallax">
                    <img src="./img/img7.jpg" class="jarallax-img">
                </div>
                <div class="content" data-jarallax-element="200 0">
                    <p>Si bien desde el punto de vista del funcionamiento esta no es una pieza realmente importante, el gabinete o caja es necesaria para tener todos los componentes protegidos y ordenados. En pocas palabras, es el caparazón del equipo, y los podemos encontrar en distintos tamaños, formas, materiales y colores —hay unos discretos y otros con luces y neones para que no pase desapercibida tu máquina —por lo cual es un componente básico de personalización de los equipos</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="ft-c">
            <div class="row">
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="https://goo.gl/maps/7XskP2QCD8H3rMEu7">Cra. 33a #30-20</a></li>
                        <li>Techousecol@gmail.com</li>
                        <li>Uniempresarial</li>
                        <li>3212851053</li>
                        <li>Bogotá</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Desarrolladores</h4>
                    <ul>
                        <li><a href="#">Yoshu Daza</a></li>
                        <li><a href="#">Kevin Rodriguez</a></li>
                        <li><a href="#">Juan Sierra</a></li>
                        <li><a href="#">Diego Enciso</a></li>
                        <li><a href="#">Juan David Camacho</a></li>
                        <li><a href="#">Dairon Peña</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">CPU</a></li>
                        <li><a href="#">Monitores</a></li>
                        <li><a href="#">Proceadores</a></li>
                        <li><a href="#">Tarjetas gráficas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>   
   
    <script src="jarallax.js"></script>
    <script src="jarallax-element.js"></script>
    <script type="text/javascript">
        jarallax(document.querySelectorAll('.jarallax'), {
            speed: 0.5,
        });
    </script>
</body>
</html>