<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/normalize.css">
    <link rel="stylesheet" href="../Styles/asesorias.css">
    <link rel="shortcut icon" href="../Assets/img/General/Logo2.png" type="image/x-icon">
    <title>Techouse Colombia</title>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=573012307691&text=Hola!%20Bienvenido%20al%20soporte%20de%20TecHouse" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
    <header>
        <nav class="header">
            <a href="../index.html" class="logo">
                <img src="../Assets/img/General/Techouse.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Asesorias.html">Asesorias</a></li>
                <li><a href="./Contactenos.html">Contáctenos</a></li>
                <!-- <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li> -->
            </ol>
            <a href="./Login.html" class="button">Iniciar sesion</a>
            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav> 
        <div class="contenedor-imagen">
            <img src="https://images.unsplash.com/photo-1585620385456-4759f9b5c7d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
            <div class = 'centrado'>Bienvenido a asesorias TecHouse</div>
        </div>
	</header>
	<main id="blog">
		<div class="contenedor">
			<aside>
				<h3 class="titulo">Asesorias: contenido</h3>
				<nav class="indice">
					<a href="#componentes">Componentes</a>
					<a href="#PasoAPaso">Paso a paso</a>
                    <a href="#consideraciones">Consideraciones</a>
                    
				</nav>
			</aside>
			<div class="contenido">
				<div class="post">
					<h1 class="titulo" id="componentes">Componentes para armar tu pc gamer</h1>
					<p>
						Lo primero que deberás tener en cuenta para armar una PC gamer es conocer cuáles son los componentes más importantes para el gaming. Esas piezas fundamentales que necesitarás sí o sí y que serán las bases para el buen funcionamiento de la máquina. Veamos cuales son:
						<br>
						<br>
						- Procesador CPU 
						<br>
						- Placa madre
						<br>
						- Tarjeta grafica
						<br>
						- Memoria RAM
						<br>
						- Disco duro
						<br>
						- Fuente de poder 
						<br>
						- Cooler CPU
						<br>
						- Gabinete
					</p>
				</div>
				<div class="post" id="PasoAPaso">
                    <h1 class="titulo">Paso a paso para preparar tu set up gamer</h1>
                    Para preparar tu habitacion gamer debes preparar varios componentes, aqui te enseñamos cuales:
                    <br>
                    <br>
                    <b>Ventilacion:</b> La habitación debe de tener ventanas, o por lo menos cierto nivel de ventilación a través de aires acondicionados por ejemplo.
                    Si no ventilamos bien la habitación, corremos el riesgo de que nuestros equipos se dañen por el polvo y sería una pena.
                    <br>
                    <br>
                    <b>Iluminacion:</b> Algunos colores que resaltan son sobre todo los verdes y los rojos, pero los rosas neón (en el caso de las chicas sobre todo) o los púrpura dan mucho juego también.
                    <br>
                    <br>
                    Mesa: Unas buenas medidas para una mesa gamer pueden ser de largo mínimo 2 metros, de ancho mínimo 70 centímetros, y de altura como 80 centímetros a 1 metro. Jamás escojas una mesa que sea pequeña
                    <br>
                    <br>
                    <b>Silla gamer:</b> Sólamente las sillas gaming de alta gama son las que merecen la pena, el resto son puro marketing para sacarte dinero. Este punto es de especial importancia y aunque te cueste invertir dinero en una simple silla, te puedo garantizar que merece la pena hacerlo.
                    <br>
                    <br>
                    <b>Ordenador gamer:</b> Anteriormente ya analisamos los componente que deben llevar un ordenador de torre, pero en caso de que prefieras utilizar un portatil aqui te dejamos unos requisitos para que puedas elegir la mejor opcion: 
                    <br>
                    Minimo core i5
                    <br>
                    Mínimo 8gb de memoria RAM
                    <br>
                    Minimo 120 gb de SSD + 500 GB en disco duro adicional
                    <br>
                    Mínimo de gráfica una nvidia gtx geforce 1650
                    <br>
                    <br>
                    <b>Monitor gaming:</b> Un buen monitor gaming evitará que se nos canse la vista mientras estamos horas jugando. Aquí te digo la verdad, este es otro punto en el cual es muy bueno que inviertas ya que la diferencia entre un monitor de alta definición 4k y otro pequeñito se nota y mucho. Recuerda, lo más importante es la salud.
                    <br>
                    <br>
                    <b>Cascos gamer:</b> No hace falta invertir demasiado dinero para conseguir un sonido aceptable, más que fijarse en la calidad del sonido, es importante que te fijes en que los cascos te resulten cómodos.
                    <br>
                    <br>
                    <b>Teclado gamer mecanico:</b> En este caso te recomendamos el uso de teclados mecanicos porque los teclados de membrana son más lentos y en ocasiones se producen interferencias. Con los teclados de membrana hay que bajar completamente la tecla y suelen ser bastante más duros que los teclados mecánicos, por lo tanto disminuirá tu rapidez al ejecutar ordenes en el teclado y te generará más fatiga en los dedos y las manos.
                    <br>
                    <br>
                    <b>Alfombrilla gaming:</b> Cuando utilizamos una alfombrilla gamer nuestras manos reposan sobre algo aterciopelado, el ratón circula más rápido por la mesa y además protegemos dicha mesa.
                    <br>
                    <br>
                    <b>Mantenimiento:</b> Aunque seamos gamers debemos mantener nuestro estudio bastante limpio pero no te desanimes, limpiar puede ser divertido y tampoco requiere de tanto tiempo si tenemos los materiales adecuados. Por esta razón te recomiendo comprarte un soplador-aspirador para pc y teclado. Así podrás mantener en perfecto estado tus equipos.
                </div>
                <div class="post" id="consideraciones">
					<h1 class="titulo">Consideraciones antes de armar tu set-up</h1>
					<p>
						<b>Prioriza tus necesidades y elige en base a ellas:</b>  Antes de armar un PC es importante tener una idea del uso que le darás ya que, según nuestra experiencia, muchas veces la gente compra un PC sin tener el conocimiento de para qué les puede servir, y ahí es cuando priorizan el presupuesto por sobre sus necesidades, y se encuentran en el camino con muchas decepciones puesto que no es lo que esperaban y terminan insatisfechos con la compra. Es importante que entiendas tus propias necesidades en relación a los componentes que puedes permitirte comprar.
						<br>
						<br>
						<b>Tu propia PC es una inversión:</b> Te aconsejamos que veas tu PC como un mundo de posibilidades, en las cuales se pueden hacer muchas cosas aparte de jugar, siempre valdrá la pena invertir en un buen equipo que sabes que durará años y que en un futuro te ayudará incluso con estudios, trabajos, hobbies digitales 
					</p>
				</div>		
			</div>
		</div>
	</main>
	<footer>
		<div class="contenedor-imagen">
			<img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
		</div>
        <div class="ft-c">
            <div class="row">
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="https://goo.gl/maps/7XskP2QCD8H3rMEu7">Cra. 33a #30-20</a></li>
                        <li>Techousecol@gmail.com</li>
                        <li>Uniempresarial</li>
                        <li>3212851053</li>
                        <li>Bogotá</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Desarrolladores</h4>
                    <ul>
                        <li><a href="#">Yoshu Daza</a></li>
                        <li><a href="#">Kevin Rodriguez</a></li>
                        <li><a href="#">Juan Sierra</a></li>
                        <li><a href="#">Diego Enciso</a></li>
                        <li><a href="#">Juan David Camacho</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">CPU</a></li>
                        <li><a href="#">Monitores</a></li>
                        <li><a href="#">Proceadores</a></li>
                        <li><a href="#">Tarjetas gráficas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
	</footer>
    <script src="https://kit.fontawesome.com/9c91a8f8fa.js" crossorigin="anonymous"></script>   
    <script src="../Scripts/asesorias.js"></script>
</body>
</html>