<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../Styles/login.css">
    <link rel="shortcut icon" href="../Assets/img/General/Logo2.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="header">
            <a href="../index.html" class="logo">
                <img src="../Assets/img/General/Techouse.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../Views/Productos.html">Productos</a></li>
                <li><a href="../Views/Asesorias.html">Asesorias</a></li>
                <li><a href="../Views/Contactenos.html">Contáctenos</a></li>
                <!-- <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li> -->
            </ol>
            <a href="../Views/Login.html" class="button">Iniciar sesion</a>
                <button class="ham" type="button">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </button>
        </nav>        
    </header> 

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿No tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="" class="formulario__login" id="formIn">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" placeholder="Usuario" id="userIn">
                        <input type="password" placeholder="Contraseña" id="passwordIn">
                        <button>Entrar</button>
                    </form>

                    <!--Register-->
                    <form action="" class="formulario__register" id="formUp">
                        <h2>Regístrarse</h2>
                        <input type="text" placeholder="Nombre completo" id="nameUp">
                        <input type="text" placeholder="Correo Electronico" id="mailUp">
                        <input type="text" placeholder="Usuario" id="userUp" id="userUp">
                        <input type="password" placeholder="Contraseña" id="passwordUp">
                        <button>Regístrarse</button>
                    </form>
                </div>
            </div>
            <footer class="footer">
                <div class="ft-c">
                    <div class="row">
                        <div class="footer-col">
                            <h4>Contactanos</h4>
                            <ul>
                                <li><a href="https://goo.gl/maps/7XskP2QCD8H3rMEu7">Cra. 33a #30-20</a></li>
                                <li>Techousecol@gmail.com</li>
                                <li>Uniempresarial</li>
                                <li>3212851053</li>
                                <li>Bogotá</li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Desarrolladores</h4>
                            <ul>
                                <li><a href="#">Yoshu Daza</a></li>
                                <li><a href="#">Kevin Rodriguez</a></li>
                                <li><a href="#">Juan Sierra</a></li>
                                <li><a href="#">Diego Enciso</a></li>
                                <li><a href="#">Juan David Camacho</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Tienda</h4>
                            <ul>
                                <li><a href="#">CPU</a></li>
                                <li><a href="#">Monitores</a></li>
                                <li><a href="#">Proceadores</a></li>
                                <li><a href="#">Tarjetas gráficas</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Siguenos</h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
           </footer>        
        <script src="https://kit.fontawesome.com/9c91a8f8fa.js" crossorigin="anonymous"></script>
        <script src="../Scripts/login.js"></script>
</body>
</html>