<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../Styles/login.css">
</head>
<body>
    <header>
        <nav class="header">
            <a href="index.html" class="logo">
                <img src="../Assets/img/General/Logo.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../Views/Productos.html">Productos</a></li>
                <li><a href="../Views/Asesorias.html">Asesorias</a></li>
                <li><a href="../Views/Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
            </ol>
            <a href="../Views/Login.html" class="button">Iniciar sesion</a>
                <button class="ham" type="button">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </button>
        </nav>        
    </header> 

    <div class="container">
        <div class="blueBg">
            <div class="box signin">
                <h2>¿Ya tienes una cuenta?</h2>
                <button class="signinBtn">Iniciar Sesion</button>
            </div>
            <div class="box signup">
                <h2>¿No tienes cuenta?</h2>
                <button class="signupBtn">Registrarse</button>
            </div>
        </div>
        <div class="formBx">
            <div class="form signinForm">
                <form id="formIn">
                    <h3>Iniciar Sesion</h3>
                    <input type="text" placeholder="Usuario" id="userIn">
                    <input type="password" placeholder="Contraseña" id="passwordIn">
                    <input type="submit" value="Iniciar sesion">
                    <a href="#" class="forgot">Olvido Contraraseña</a>
                </form>
            </div>

            <div class="form signupForm">
                <form id="formUp">
                    <h3>Registrarse</h3>
                    <input type="text" placeholder="Usuario" id="userUp">
                    <input type="mail" placeholder="Correo electronico" id="mailUp">
                    <input type="password" placeholder="Contraseña" id="passwordUp1">
                    <input type="password" placeholder="Confirmar Contraseña" id="passwordUp2">
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </div>

    <script src="../Scripts/login.js">    </script>
</body>
</html>