<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/perfil.css">
    <title>Perfìl </title>
</head>
<body>
    <header>
        <nav class="header">
            <a href="index.html" class="logo">
                <img src="./Assets/img/General/Logo.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="#main">Inicio</a></li>
                <li><a href="./Views/Productos.html">Productos</a></li>
                <li><a href="./Views/Asesorias.html">Asesorias</a></li>
                <li><a href="./Views/Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
            </ol>
            <a href="./Views/Login.html" class="button">Iniciar sesion</a>
                <button class="ham" type="button">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </button>
        </nav>        
    </header>
    <header>
        <nav>
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Asesorias.html">Asesorias</a></li>
                <li><a href="./Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
            </ol>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>

        <p>@copyright 2022</p>
    </footer>
    <script src="../Scripts/perfil.js"></script>
</body>
</html>