<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="../Styles/perfil.css">
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="../Assets/img/General/perfilado.jpg " alt="img-avatar">
                   
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Juan Estefan Medina Gonzales</h3>
                <p class="texto">Ingeniero de software con experiencia en bases de datos, creativo y abierto a nuevas oportunidades</p>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-signs"></i> Direccion de usuario: cr.2 #3-20</li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefono: 31679120129</li>
                    <li><i class="icono fas fa-briefcase"></i> Favoritos.</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion: Colombia</li>
                    <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento: 12/08/2001</li>
                    <li><i class="icono fas fa-user-check"></i> Registro: 29/09/2022</li>
                </ul>
    </section>
</body>

</html>