<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/perfil.css">
    <title>Perfìl </title>
</head>
<body>
    <header>
        <nav class="header">
            <a href="index.html" class="logo">
                <img src="./Assets/img/General/Logo.png" alt="Logo">
            </a>
            <ol class="enlaces-menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Asesorias.html">Asesorias</a></li>
                <li><a href="./Contactenos.html">Contáctenos</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
            </ol>
            <a href="./Login.html" class="button">Iniciar sesion</a>
                <button class="ham" type="button">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </button>
        </nav>         
    </header>
    <main>

        <span class="main_bg"></span>


        <div class="container">
    
            <header>
                <div class="brandLogo">
                    <figure><img src="" alt="logo" width="40px" height="40px"></figure> <!--Logo de la tienda-->
                    <span>Techouse Colombia</span>
                </div>
            </header>
    
    
            <section class="userProfile card">
                <div class="profile">
                    <figure><img src="../MultimediaGeneral/perfil_usuario.png" alt="profile" width="250px" height="250px"></figure>
                </div>
            </section>
    
    
            <section class="work_skills card">
    
                <div class="work">
                    <h1 class="heading">Trabajo</h1>
                    <div class="primary">
                        <h1>Spotify New York</h1>
                        <span>Primary</span>
                        <p>170 William Street <br> New York, NY 10038-212-315-51</p>
                    </div>
    
                    <div class="secondary">
                        <h1>Metropolitan <br> Museum</h1>
                        <span>Secondary</span>
                        <p>S34 E 65th Street <br> New York, NY 10651-78 156-187-60</p>
                    </div>
                </div>
            </section>
    
    
            <section class="userDetails card">
                <div class="userName">
                    <h1 class="name">Nombre</h1>
                    <div class="map">
                        <i class="ri-map-pin-fill ri"></i>
                        <span>New York, NY</span>
                    </div>
                    <p>Product Designer</p>
                </div>
    
                <div class="rank">
                    <h1 class="heading">Rangos</h1>
                    <span>8,6</span>
                    <div class="rating">
                        <i class="ri-star-fill rate"></i>
                        <i class="ri-star-fill rate"></i>
                        <i class="ri-star-fill rate"></i>
                        <i class="ri-star-fill rate"></i>
                        <i class="ri-star-fill rate underrate"></i>
                    </div>
                </div>
    
                <div class="btns">
                    <ul>
                        <li class="sendMsg">
                            <i class="ri-chat-4-fill ri"></i>
                            <a href="#">Enviar Mensaje</a>
                        </li>
    
                        <li class="sendMsg active">
                            <i class="ri-check-fill ri"></i>
                            <a href="#">Contactos</a>
                        </li>
    
                        <li class="sendMsg">
                            <a href="#">Reportar Usuario</a>
                        </li>
                    </ul>
                </div>
            </section>
    
    
            <section class="timeline_about card">
                <div class="tabs">
                    <ul>
                        <li class="timeline">
                            <i class="ri-eye-fill ri"></i>
                            <span>Timeline</span>
                        </li>
    
                        <li class="about active">
                            <i class="ri-user-3-fill ri"></i>
                            <span>Acerca de</span>
                        </li>
                    </ul>
                </div>
    
                <div class="contact_Info">
                    <h1 class="heading">Contacto de Información</h1>
                    <ul>
                        <li class="phone">
                            <h1 class="label">Teléfono:</h1>
                            <span class="info">+11 234 567 890</span>
                        </li>
    
                        <li class="address">
                            <h1 class="label">Dirección:</h1>
                            <span class="info">S34 E 65th Street <br> New York, NY 10651-78 156-187-60</span>
                        </li>
    
                        <li class="email">
                            <h1 class="label">Correo Electrónico:</h1>
                            <span class="info">hello@rsmarquetech.com</span>
                        </li>
    
                        <li class="site">
                            <h1 class="label">Sitio:</h1>
                            <span class="info">www.rsmarquetech.com</span>
                        </li>
                    </ul>
                </div>
    
                <div class="basic_info">
                    <h1 class="heading">Información Básica</h1>
                    <ul>
                        <li class="birthday">
                            <h1 class="label">Cumpleaños:</h1>
                            <span class="info">Dec 25, 2000</span>
                        </li>
    
                        <li class="sex">
                            <h1 class="label">Género:</h1>
                            <span class="info">Masculino</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

    </main>

    <footer class="footer">
        <div class="ft-c">
            <div class="row">
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="https://goo.gl/maps/7XskP2QCD8H3rMEu7">Cra. 33a #30-20</a></li>
                        <li>Techousecol@gmail.com</li>
                        <li>Uniempresarial</li>
                        <li>3212851053</li>
                        <li>Bogotá</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Desarrolladores</h4>
                    <ul>
                        <li><a href="#">Yoshu Daza</a></li>
                        <li><a href="#">Kevin Rodriguez</a></li>
                        <li><a href="#">Juan Sierra</a></li>
                        <li><a href="#">Diego Enciso</a></li>
                        <li><a href="#">Juan David Camacho</a></li>
                        <li><a href="#">Dairon Peña</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">CPU</a></li>
                        <li><a href="#">Monitores</a></li>
                        <li><a href="#">Proceadores</a></li>
                        <li><a href="#">Tarjetas gráficas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>   
    <script src="../Scripts/perfil.js"></script>
</body>
</html>