<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Styles/productos.css">
    <title>Productos</title>
</head>
<header>
    <nav class="header">
        <a href="../index.html" class="logo">
            <img src="../Assets/img/General/Techouse.png" alt="Logo">
        </a>
        <ol class="enlaces-menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./Productos.html">Productos</a></li>
            <li><a href="./Asesorias.html">Asesorias</a></li>
            <li><a href="./Contactenos.html">Contáctenos</a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Carrito</a></li>
        </ol>
        <a href="./Views/Login.html" class="button">Iniciar sesion</a>
            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
    </nav>        
</header>

<body>
    
    <h2>CPU</h2>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_7302191.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.300</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_76677.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 4.500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_642586.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 520.000.00</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1887838.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 730.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral//PngItem_4183106.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 490.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_3922512.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 800.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_998334.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 100.000.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>MONITORES </br></h2>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h2>PROCESADORES</h2>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h2>TARJETAS GRÁFICAS</h2>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
        
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card">
            <div class="imgBx">
                <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                    <ul class="action">
                        <li>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span>Agregar a lista de deseos</span>
                        </li>
                        <li>
                            <i class="fa fa-eye" aria-hidden="true"></i> 
                            <span>Ver detalles</span>
                        </li>
                        <li>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>Agregar al carrito de compra</span>
                        </li>
                    </ul>
            </div>
            
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
             <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                <ul class="action">
                    <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Agregar a lista de deseos</span>
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i> 
                        <span>Ver detalles</span>
                    </li>
                    <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Agregar al carrito de compra</span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                <div class="price_rarting">
                    <h2>$ 500.000</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star grey" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
                <div class="imgBx">
                    <img src="../MultimediaGeneral/PngItem_1757513.png"> <!--Imagen de productos-->
                    <ul class="action">
                        <li>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span>Agregar a lista de deseos</span>
                        </li>
                        <li>
                            <i class="fa fa-eye" aria-hidden="true"></i> 
                            <span>Ver detalles</span>
                        </li>
                        <li>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>Agregar al carrito de compra</span>
                        </li>
                    </ul>
                </div>
            <div class="content">
                <div class="productName">
                    <h3>Imagén</h3>
                </div>
                    <div class="price_rarting">
                        <h2>$ 500.000</h2>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star grey" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      




    <footer class="footer">
        <div class="ft-c">
            <div class="row">
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="https://goo.gl/maps/7XskP2QCD8H3rMEu7">Cra. 33a #30-20</a></li>
                        <li>Techousecol@gmail.com</li>
                        <li>Uniempresarial</li>
                        <li>3212851053</li>
                        <li>Bogotá</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Desarrolladores</h4>
                    <ul>
                        <li><a href="#">Yoshu Daza</a></li>
                        <li><a href="#">Kevin Rodriguez</a></li>
                        <li><a href="#">Juan Sierra</a></li>
                        <li><a href="#">Diego Enciso</a></li>
                        <li><a href="#">Juan David Camacho</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">CPU</a></li>
                        <li><a href="#">Monitores</a></li>
                        <li><a href="#">Proceadores</a></li>
                        <li><a href="#">Tarjetas gráficas</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Siguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
   <script src="../Scripts/productos.js"></script>
</body>
</html>