html{
    font-size: 95%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #f3f3f3;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}
/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #5ce71b;
	position: sticky;
	top: 0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #bddbf2;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    background-color: rgb(16, 34, 43);
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.enlaces-menu li a{
    list-style: none;
    text-decoration: none;
    color: rgb(161, 161, 161);
}


.header ol li a:hover{
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.button{
    color: rgb(161, 161, 161);
    text-decoration: none;
    margin-right: 40px;
    border: 2px solid rgb(161, 161, 161);
    padding: 5px 10px;
    border-radius: 8px;
}

.button:hover{
    color: white;
    border-color: white;
    transition: 0.5s;
}

main img{
    margin: 5px;
}

.inicio{
    display: flex;
    justify-content: space-between;
    margin: 50px 5%;
    padding: 30px;
}

.inicio img{
    max-width: 600px;
    max-height: 400px;
}

h1{
    font-size: 45px;
}

.article{
    margin: 50px 5%;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 100vh;
}

.contenedor-imagen img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 3px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #ebdfdf;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
	color: #f2f2f2;
}

main .contenido .fecha {
	font-size: 14px;
	color: #faf4f4;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 30px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #057dd2;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */

footer .navbar{
	position: sticky;
	bottom: 0;
}

.ft-c{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 30px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* * ============================== */
/* * ========== Button ============ */
/* * ============================== */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media (max-width: 1100px){
    .inicio{
        display: flex;
        flex-direction: column;
    }
    
    .inicio img{
        max-width: 90%;
        max-height: 100%;
    }
}
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}

	aside{
		position: static;
	}

    .logo{
        padding: 0x;
    }

    .header a img{
        margin: 0;
    }

.ham{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: 0.2s 0.1s;
}

.ham:hover{
    transform: rotate(360deg);
}

nav{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding: 25px 0;
}

.enlaces-menu{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
}

.enlaces-menu li{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.button{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 8vh;
    width: 15vh;
    margin: 0;
    padding: 0;
    display: none;  
}



/*      Responsive footer    */

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }


@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity:1;}
}

.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.button.Login{
    display: flex;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}
}   