html{
    font-size: 95%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #f3f3f3;
}

.logo img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    background-color: rgb(16, 34, 43);
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.enlaces-menu li a{
    list-style: none;
    text-decoration: none;
    color: rgb(161, 161, 161);
}


.header ol li a:hover{
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.button{
    color: rgb(161, 161, 161);
    text-decoration: none;
    margin-right: 40px;
    border: 2px solid rgb(161, 161, 161);
    padding: 5px 10px;
    border-radius: 8px;
}

.button:hover{
    color: white;
    border-color: white;
    transition: 0.5s;
}


main img{
    margin: 5px;
}

.inicio{
    display: flex;
    justify-content: space-between;
    margin: 50px 5%;
    padding: 30px;
}

h1{
    font-size: 45px;
}

.article{
    margin: 50px 5%;
}

/*  Misi칩n visi칩n y formas de pago  */

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.info .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.08),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.08);
    border-radius: 15px;
    margin: 30px;
}
    
.info .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #61616115;
    box-shadow: 0 10px 20px rgba(103, 103, 104, 0.8s);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .card .box .content{
    padding: 20px;
    text-align: center;
}

.info .card .box .content h2{
     position: absolute;
     top: -140px;
     right: 10px;
     font-size: 8em;
     color: rgba(255, 255, 255, 0.01);
}

/* .info .card:hover .box .content h2{
    color: rgb
} 
        Parallax || Glasmorph

*/

/*  Slider pr칩ximos productos*/

.upComing{
    margin: 100px 0;
}

.upComing h2{
    text-align: center;
    font-size: 30px;
    margin: 8px;
}

.upComing p{
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.container__slider{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.p-card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .container__slider img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -o-object-fit: cover;
        object-fit: cover;
    }


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}

/*  Productos recomendados  */

.recomended{
    display: flex;
    justify-content: space-around;
    margin: 100px 8%;
    padding: 30px;
}

.recomended .lpProduct{
    margin: 10px;
}

.recomended .lpProduct img{
    border-radius: 15px;
}

.recomended .rpProduct{
    margin: 40px;
}

.recomended .rpProduct img{
    max-height: 170px;
    max-width: auto;
}

/*Modificar tama침o para las imagenes de muestras*/

/*      Carrusel    */

.Carousel{
    width: 100%;
    margin: 100px 0;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    margin: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.Carousel p{
    margin: 30px;
    text-align: center;
}

/* imagenes */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* botones */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
} 

/*  Planes  */

.services{
    margin: 100px 21%;
    padding: 0;
}

.services .sv-h2{
    text-align: center;
}

.services .sv-p{
    text-align: center;
    margin: 35px 20px;
}

.container-sv{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container-sv .box{
    position: relative;
    height: 450px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #000;
}

.container-sv .box:before{
    content: '';
    position:absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

.container-sv .box:nth-child(1):before{
    background: linear-gradient(315deg, #ff0057, #e64a19);
}
.container-sv .box:nth-child(2):before{
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.container-sv .box:nth-child(3):before{
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.container-sv .box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.05);
    pointer-events: none;
}

.sv-c{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.box .sv-c h2{
    position: absolute;
    top: 50px;
    right: 50px; 
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,.05);
    transition: 0.5s;
}

.box:hover .sv-c h2{
    top: -100px;
}

.box .sv-c h3{
  margin: 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;  
}

.box .sv-c p{
    margin: 10px;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.box .sv-c a{
    list-style: none;
    text-decoration: none;
    position: relative;
    margin: 20px 10px ;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .sv-c a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.box .sv-c a:hover{
   color: #000;
   background: #fff;
}

/*  Footer  */

.ft-c{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 30px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media (max-width: 950px){

    .logo{
        padding: 0x;
    }

    .header a img{
        margin: 0;
    }

.ham{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: 0.2s 0.1s;
}

.ham:hover{
    transform: rotate(360deg);
}

nav{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding: 25px 0;
}

.enlaces-menu{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
}

.enlaces-menu li{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.button{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 8vh;
    width: 15vh;
    margin: 0;
    padding: 0;
    display: none;  
}

/*      Responsive footer    */

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }


@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity:1;}
}

.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.button.Login{
    display: flex;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}
}   